body {
  background: black;
}

.spaceship {
  height: 50px;
  width: 150px;
  background: white;
  position: fixed;
  bottom: 100px;
  border-radius: 20px 20px 0px 0px; 
  z-index: 100;
}

.cannon {
  background: white;
  position: absolute;
  top: -20px;
  left: 65px;
  height: 20px;
  width: 20px;
}

.laser {
  position: fixed;
  height: 20px;
  width: 5px;
  background: green;
  z-index: 10;
}

.hidden {
  display: none;
}

.invader {
  position: fixed;
  height: 70px;
  width: 70px;
  overflow: hidden;
  z-index: 100;
}

.deadInvader, .deadSpaceship {
  animation: .25s ease EXPLODE forwards;
}



@keyframes EXPLODE {
  to {
    opacity: 0;
    transform: scale(1.5) rotateZ(360deg);
  }  
}